h1 {
    color:brown;
}
h2 {
    color:black;
}



.header{
    background-color: cadetblue;
    display:flex;
    justify-content:space-between;
}

.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.fooder{
    display:flex;
    justify-content: flex-end;
}